<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sternerlearn"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sternerlearn.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sternerlearn.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.sternerlearn.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.sternerlearn.AssignmentsActivity"
            android:label="@string/title_activity_assignments" >
        </activity>
        <activity
            android:name="com.sternerlearn.NotImplemented"
            android:label="@string/title_activity_not_implemented" >
        </activity>
        <activity
            android:name="com.sternerlearn.StudentMainMenu"
            android:label="@string/title_activity_student_main_menu" >
        </activity>
        <activity
            android:name="com.sternerlearn.TeacherMainMenu"
            android:label="@string/title_activity_teacher_main_menu" >
        </activity>
        <activity
            android:name="com.sternerlearn.GradesActivity"
            android:label="@string/title_activity_grades"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.sternerlearn.ClassesActivity"
            android:label="@string/title_activity_classes"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.sternerlearn.InfractionsActivity"
            android:label="@string/title_activity_infractions"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.sternerlearn.LinkAccountsActivity"
            android:label="@string/title_activity_link_accounts" >
        </activity>
        <activity
            android:name="com.sternerlearn.ParentalControlActivity"
            android:label="@string/title_activity_parental_control"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name="com.sternerlearn.MyListActivity"
            android:label="@string/title_activity_my_list" >
        </activity>

        <service android:name="com.sternerlearn.GPSReceiver" >
        </service>

        <receiver
            android:name="com.sternerlearn.SMSReceiver"
            android:exported="true" >
            <intent-filter android:priority="100" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.sternerlearn.AddClassActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
        <activity
            android:name="com.sternerlearn.MessagesActivity"
            android:label="@string/title_activity_messages" >
        </activity>
        <activity
            android:name="com.sternerlearn.LocationsActivity"
            android:label="@string/title_activity_locations" >
        </activity>
    </application>

</manifest>